.tiptap {
  @apply focus:outline-none;

  p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  &.prose {
    max-width: 100ch;

    pre {
      font-size: 15px;
      line-height: 1.75;
      padding: 0.75rem 1rem;
      border-radius: 0.375rem;

      @apply dark:bg-[#161b22];
    }

    blockquote {
      p:first-of-type::before,
      p:first-of-type::after {
        content: unset;
      }
    }

    ul {
      li > p {
        margin: 0;
      }
    }

    ol {
      li > p {
        margin: 0;
      }
    }

    //  add margin to custom element
    & > *:has([data-node-view-wrapper]) {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;

      &:last-child {
        margin-bottom: unset;
      }

      pre,
      img {
        margin: unset;
      }
    }
  }
}
