:root {
  --cm-caret: #24292e;

  --cm-selection: rgba(30, 102, 245, 0.15);
  --cm-line-highlight: rgba(30, 102, 245, 0.06);

  --cm-gutter-fg: #959da5;
  --cm-gutter-bg: #f6f8fa;

  --cm-tag: #1e66f5;
  --cm-comment: #6a737d;
  --cm-property: #6f42c1;
  --cm-variable: #df8e1d;
  --cm-keyword: #d73a49;
  --cm-string: #40a02b;
  --cm-name: #22863a;
  --cm-heading: #24292e;
  --cm-deleted: #b31d28;
  --cm-deleted-bg: #ffeef0;
  --cm-atom: #e36209;
  --cm-invalid: #cb2431;
}

html.dark {
  --cm-caret: #818cf8;

  --cm-selection: rgba(139, 148, 158, 0.3);
  --cm-line-highlight: rgba(255, 255, 255, 0.1);

  --cm-gutter-fg: #6e7681;
  --cm-gutter-bg: #161b22;

  --cm-tag: #f07178;
  --cm-comment: #8b949e;
  --cm-property: #d2a8ff;
  --cm-variable: #c792ea;
  --cm-keyword: #ff7b72;
  --cm-string: #c3e88d;
  --cm-name: #7ee787;
  --cm-heading: #d2a8ff;
  --cm-deleted: #ffdcd7;
  --cm-deleted-bg: #ffeef0;
  --cm-atom: #ffab70;
  --cm-invalid: #f97583;
}
